<!-- this file should be inside the templates folder -->
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
The breed you entered is {{breed}}

   <form method="POST">

	{{ form.hidden_tag() }}

	{{form.breed.label}}{{form.breed}}
	<br>
	{{form.neutered.label}}{{form.neutered}}
	<br>
	{{form.food_choice.label}} {{form.food_choice}}
	<br>
	{{form.mood.label}} {{form.mood}}
	<br>
	Any other feedback?
	<br>
	{{form.feedback}}
	{{form.submit()}}
	 
   </form>
</body>
</html>