<h1>Thankyou. Here is the information that you gave us:</h1>

<ul>
    <li>Breed: {{session['breed']}}</li>
    <li>neutered: {{session['neutered']}}</li>
    <li>Mood: {{session['mood']}}</li>
    <li>Food: {{session['Food']}}</li>
    <li>Feedback: {{session['feedback']}}</li>    
</ul>